@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Lexend:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-midnight-blue: oklch(23.65% 0.0682 250.7);
  --color-navy-blue: oklch(34.62% 0.0736 256.04);
  --color-desert-sun: oklch(73.79% 0.1051 64.95);
  --color-accent: oklch(69.1% 0.1693 55.89);
  --font-lexend: "Lexend", "sans-serif";
  --font-gugi: "Gugi", "sans-serif";
}

@custom-variant hover (&:hover);

:root {
  --midnight-blue: #001f3d;
  --navy-blue: #045174;
  --desert-sun: #d89c60;
  --burnt-orange: #e87a00;
}

body {
  background: var(--midnight-blue);
}
